name: Build Web

on:
  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string

jobs:
  web:
    name: Web
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: make web/build
      - name: Upload
        run: |
          tar -czvf santa-lang-prancer-web-${{ inputs.release-tag }}.tar.gz -C src/web/out .
          gh release upload ${{ inputs.release-tag }} santa-lang-prancer-web-${{ inputs.release-tag }}.tar.gz --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
