name: Build CLI

on:
  workflow_call:
    inputs:
      release-tag:
        required: true
        type: string

jobs:
  binary:
    name: Binary
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: make cli/build
      - name: Upload
        run: |
          cd src/cli/dist
          for binary in santa-cli-*; do
            mv "$binary" "santa-lang-cli-${{ inputs.release-tag }}-${binary#santa-cli-}"
            gh release upload ${{ inputs.release-tag }} "santa-lang-cli-${{ inputs.release-tag }}-${binary#santa-cli-}" --clobber
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    name: Docker
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: make cli/build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: src/cli
          file: src/cli/Dockerfile
          # NOTE: ARM64 support disabled due to slow QEMU emulation on standard runners.
          platforms: linux/amd64
          tags: ghcr.io/eddmann/santa-lang-ts:cli-latest
          labels: org.opencontainers.image.source=https://github.com/eddmann/santa-lang-ts
          outputs: type=docker,dest=/tmp/santa-lang-cli.tar
      - name: Upload
        run: |
          mv /tmp/santa-lang-cli.tar santa-lang-cli-${{ inputs.release-tag }}-docker.tar
          gh release upload ${{ inputs.release-tag }} santa-lang-cli-${{ inputs.release-tag }}-docker.tar --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
