name: 'Build'

on:
  push:
    branches:
      - main

concurrency: build

jobs:
  build-cli:
    name: 'Build Cli'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Install'
        run: make cli/install
      - name: 'Build'
        run: make cli/build
      - name: 'Set up QEMU'
        uses: docker/setup-qemu-action@v3
      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@v3
      - name: 'Login to GHCR'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: 'Build and push multi-platform image'
        uses: docker/build-push-action@v6
        with:
          context: src/cli
          file: src/cli/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/eddmann/santa-lang-ts:cli-latest
      - name: 'Upload binaries'
        uses: actions/upload-artifact@v4
        with:
          name: 'santa-cli'
          path: 'src/cli/dist/santa-cli-*'
  build-web:
    name: 'Build Web'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Install'
        run: make web/install
      - name: 'Build'
        run: make web/build
      - name: Publish
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: src/web/out
  build-lambda:
    name: 'Build Lambda runtime'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Install'
        run: make lambda/install
      - name: 'Build'
        run: make lambda/build
      - name: 'Upload layer'
        uses: actions/upload-artifact@v4
        with:
          name: 'santa-lang-lambda-al2.zip'
          path: 'src/lambda/dist/layer.zip'
