name: 'Test'

on: push

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: 'Install'
        run: make lang/install
      - name: 'Test'
        run: make lang/test
